import(Rlab, BoolNet)


importFrom("graphics", "abline", "axis", "box", "lines", "par", "plot")
importFrom("stats", "rmultinom", "rnbinom", "rnorm", "rpois")

export(
  BKF,
  BKS,
  SIR_BKF,
  plotTrajectory,
  simulateNetwork,
  MMAE)